.design {
  background-color: rgba(143, 3, 84, 0.925);
  color: white;
  padding: 10px;
}

.buttons {
  display: flex;
  gap: 10px;
}

button {
  background-color: #dba88a;
  color: black;
  padding: 10px;
  border-radius: 5px;
  opacity: 1;
}

.fade {
  opacity: 0.5;
}
